<IfModule mod_rewrite.c>
    RewriteEngine On

    # Traiter les en-têtes d'autorisation
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Rediriger les slashes finaux si ce n'est pas un dossier
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Ne pas réécrire si le fichier ou le dossier existe
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rediriger toutes les requêtes non-résolues vers index.html
    RewriteRule ^ /index.html [L]

    # Gestion des erreurs 404
    ErrorDocument 404 /index.html
</IfModule>
# Bloquer l'accès à votre site pour tester si .htaccess est actif
